<!DOCTYPE html>
<html lang="en">
   <head>
      <meta xhttp-equiv="refresh" content="1">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>The Theatre</title>
      <!-- Bootstrap core CSS -->
      <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="assets/vendor/fontawesome/css/all.min.css" rel="stylesheet">
      <link href="assets/vendor/slick/slick/slick.css" rel="stylesheet">
      <link href="assets/vendor/slick/slick/slick-theme.css" rel="stylesheet">
      <link href="assets/css/style.css" rel="stylesheet">


        <nav class="navbar navbar-expand-md">
           <a class="navbar-brand" href="#">Lager Theatre</a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarCollapse">
             <ul class="navbar-nav ml-auto">
               <li class="nav-item active">
                 <a class="nav-link" href="#"  onmouseover="ddshow('nav-dd-playing');"   onmouseover="ddhide('nav-dd-playing');"><i class="fas fa-film"></i> What's Playing</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#" onmouseover="ddshow('nav-dd-locations');" onmouseover="ddhide('nav-dd-locations');"><i class="fas fa-globe-americas"></i> Our Locations</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#"  onmouseover="ddshow('nav-dd-rest');"      onmouseover="ddhide('nav-dd-rest');"><i class="fas fa-film"></i> The Rest</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#" onmouseout="dd_clear_last();"><i class="fas fa-search"></i> Search</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="#" onmouseout="dd_clear_last();"><i class="fas fa-ticket-alt"></i> Buy Tickets</a>
               </li>
             </ul>
           </div>
         </nav>
         {@var=dd_whats_playing}
         {@var=dd_locations}
         {@var=dd_rest}
         


   </head>
   <body style="opacity: .2;">

     {@var=content}

      <footer>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Our Company</h3>
              <ul>
                <li><a href="#">Our Brands</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Corporate Information</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Media Center</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Employee Portal</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
              </ul>
            </div>
            <div class="col-md-4 xs-hidden">
              <h3>Programming</h3>
              <ul>
                <li><a href="#">Film Festivals</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">3D Films</a></li>
                <li><a href="#">Group Sales</a></li>
                <li><a href="#">Private Events</a></li>
                <li><a href="#">Overnights</a></li>
                <li><a href="#">Marathons</a></li>
                <li><a href="#">Blackouts</a></li>
              </ul>
            </div>
            <div class="col-md-4 xs-hidden">
              <h3>More</h3>
              <ul>
                <li><a href="#">Ticket Stubs</a></li>
                <li><a href="#">Offers &amp; Promotions</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Mobile App</a></li>
                <li><a href="#">The Scene</a></li>
                <li><a href="#">American Film Institute</a></li>
                <li><a href="#">Assistive Movie Going</a></li>
                <li><a href="#">Request Refund</a></li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </footer>

      <!-- Bootstrap core JavaScript -->
      <script src="assets/vendor/jquery/jquery-3.3.1.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/rokocb.js"></script>
      <script src="assets/vendor/debounce.js"></script>
      <script src="assets/vendor/slick/slick/slick.min.js"></script>
      <!-- Custom JavaScript -->
      <script src="assets/js/functions.js"></script>
   </body>
</html>