<!-- Locations -->
         <div class="nav-dd-locations" style="display: none;">
            <div class="container">
              <div class="row">
                <div class="col-md-4" style="z-index: 5;padding-top: 15px">
                    <img src="assets/gfx/pexels/sm/architecture-building-business-436413.jpg" style="border-radius: 5px;width: 100%;max-width: 100%;">
                </div>
                <div class="col-md-4" style="z-index: 5;">
                    <h3 class="dd_title">Our Locations</h3>
                    <ul class="dd_ul">
                        <li><a href="#">Yucaipa, CA</a></li>
                        <li><a href="#">Redlands, CA</a></li>
                        <li><a href="#">Riverside, CA</a></li>
                        <li><a href="#">Los Angeles, CA</a></li>
                        <li><a href="#">Long Beach, CA</a></li>
                        <li><a href="#">Temecula, CA</a></li>
                        <li><a href="#">Hemet, CA</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="z-index: 5;">
                    <h3 class="dd_title">Search By Zip Code</h3>
	                  <form role="search" method="get" style="width: 90%;" action="">
	                  <div class="input-group" style="padding-right: 7px;">
	                        <input type="search" class="form-control" placeholder="Search &hellip;" value="" name="s" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;" />
	                        <span class="input-group-btn">
	                        <button type="submit" class="btn btn-danger mouse-point" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px;"><span class="screen-reader-text"><i class="fas fa-search"></i></span></button>
	                        </span>
	                  </div>
	                  </form>
                    <h3 class="dd_title">Start a Franchise</h3>
                    <ul class="dd_ul">
                        <li><a href="#">Learn More</a></li>
                    </ul>
                </div>
              </div>
            </div>
         </div>