         <!-- The Rest -->
         <div class="nav-dd-rest" style="display: none;">
            <div class="container">
              <div class="row">
                <div class="col-md-4" style="z-index: 5;padding-top: 15px">
                    <img src="assets/gfx/pexels/sm/adult-amphitheater-armchair-458379.jpg" style="border-radius: 5px;width: 100%;max-width: 100%;">
                </div>
                <div class="col-md-4" style="z-index: 5;">
                    <h3 class="dd_title">Customer Service</h3>
                    <ul class="dd_ul">
                        <li><a href="#">Promotional Deals</a></li>
                        <li><a href="#">Rate a Location</a></li>
                        <li><a href="#">Request Refund</a></li>
                        <li><a href="#">Suggestions</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="z-index: 5;">
                    <h3 class="dd_title">Corporate</h3>
                    <ul class="dd_ul">
                        <li><a href="#">Job Openings</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Management Program</a></li>
                        <li><a href="#">Press Package</a></li>
                    </ul>
                </div>
              </div>
            </div>
         </div>