         <!-- What's Playing -->
         <div class="nav-dd-playing" style="display: none;">
            <div class="container">
              <div class="row">
                <div class="col-md-4" style="z-index: 5;padding: 15px">
                    <img src="assets/gfx/imdb/covers/predator.jpg" style="width: 15rem;max-width: 100%;">
                </div>
                <div class="col-md-4" style="z-index: 5;">
                    <h3 class="dd_title">Now Playing</h3>
                    <ul class="dd_ul">
                        <li><a href="#">The Predator (2018)</a></li>
                        <li><a href="#">The House with a Clock in Its Walls (2018)</a></li>
                        <li><a href="#">The Nun (2018)</a></li>
                        <li><a href="#">A Simple Favor (2018)</a></li>
                        <li><a href="#">White Boy Rick (2018)</a></li>
                        <li><a href="#">Crazy Rich Asians (2018)</a></li>
                        <li><a href="#">Peppermint (2018)</a></li>
                    </ul>
                </div>
                <div class="col-md-4" style="z-index: 5;">
                    <h3 class="dd_title">Browse by Category</h3>
                    <ul class="dd_ul">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Romance</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Family</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                    <h3 class="dd_title">Browse by Rating</h3>
                    <ul class="dd_ul">
                        <li><a href="#">G (All Audiences)</a></li>
                        <li><a href="#">PG (Parental Guidance)</a></li>
                        <li><a href="#">PG-13 (Ages 13+)</a></li>
                        <li><a href="#">R (Restricted)</a></li>
                    </ul>
                </div>
              </div>
            </div>
         </div>